:root {
    --ungu: #d900ff;
    --polis: rgba(250, 234, 249, 0.2);
    --border: rgba(255, 0, 247, 0.8);
}

html {
    scroll-behavior: smooth;
}

/* active */

.next.active {
    display: inline-block;
}

.nextt.active {
    display: inline-block;
}

.nexttt.active {
    display: inline-block;
}

section .dots.active {
    display: none;
}

section .dots1.active {
    display: none;
}

section .dots2.active {
    display: none;
}


body {
    background-image: url(../image/dark-robot.jpg);
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-position: center 50%;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.body {
    color: aliceblue;

}

h2 {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
}


#navbar {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: solid var(--ungu) 2px;
    position: fixed;
    z-index: 9999;
}


#navbar a {
    color: rgb(255, 240, 240);
    margin-left: 0.7rem;

}

#navbar a:hover {
    background-color: var(--polis);
    border-bottom: solid var(--primary) 1px;
    padding: 0.5rem;
    border-radius: 5px;
}

.hai {
    margin-top: 8rem;
    text-align: center;
}

.container-image {
    display: grid;
}


.skill {
    background-color: var(--polis);
    border-radius: 50px;
    height: 40rem;
    width: 40rem;
    margin-left: 5rem;
    margin-top: 30rem;
    position: relative;
    text-align: center;
    color: aliceblue;
}


.skill img {
    width: 8rem;
    height: 8rem;
    margin: 2rem;
    border-radius: 5px;
}

.imageME {
    border-radius: 50rem 50rem 50rem 0;
    position: absolute;
    text-align: center;
    background-color: var(--polis);
    height: 50rem;
    width: 25rem;
    margin-top: 5rem;
    margin-left: 50rem;
    position: absolute;
}

.imageME img {
    margin-top: 2.5rem;
    text-align: center;
    object-fit: cover;
    object-position: center 30%;
    background-color: #fff;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

#about {
    margin-top: 3rem;
}


section #projects {
    text-align: center;
    margin-top: 8rem;
    padding: 8rem 7% 1.4rem;
}


section #projects #row {
    justify-content: center;
    display: flex;
}

section #projects #row div {
    margin: 2rem;
    background-color: var(--polis);
    padding: 1rem;
    border-radius: 50px;
}

section #projects #row div img {
    width: 20rem;
    border-radius: 50px;
}


section #projects #row div a {
    background-color: var(--ungu);
    color: #fff;
    padding: 1rem;
    border-radius: 50px;
    font-weight: 700;
}

section #projects #row div a:hover {
    text-decoration: none;
    background-color: var(--border);
    padding: 1.2rem;
}

section #projects #row div div {
    width: 20rem;
}

section .next {
    display: none;
}

section .nextt {
    display: none;
}

section .nexttt {
    display: none;
}




section .dots {
    color: var(--ungu);
}

section .dots1 {
    color: var(--ungu);
}

section .dots2 {
    color: var(--ungu);
}


.sosmed #sosmed {
    text-align: center;
    margin-top: 8rem;
    padding: 8rem 7% 1.4rem;
}

.sosmed .logos {
    margin-top: 3rem;
    justify-content: center;
    display: flex;
}


.sosmed .logos a img {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}


#contacts {
    text-align: center;
    margin-top: 8rem;
    padding: 8rem 7% 1.4rem;
}

#contacts div {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;
    justify-content: center;
}

#contacts div .contact {
    background-color: var(--polis);
    margin-right: 2rem;
    border-radius: 50px;
}


#contacts div .contact img {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#contacts div .contact p {
    margin: 1rem;
    font-size: 2rem;
    color: var(--ungu);
}

footer {
    margin-top: 8rem;
}